{% load static %}
{% load zcore_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CBN ML Pipeline Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A project management Bootstrap theme by Medium Rare"
    />
    <link
      href="{% static '/assets/img/Myfavicon.ico' %}"
      rel="icon"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1"
      rel="stylesheet"
    />
    <link
      href="{% static '/assets/css/theme.css' %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <style>
      .custom-nav {
        background-color: #ffffff !important;
      }

      .nav-link {
        color: black !important;
      }

      .nav-link:hover {
        color: #48b68e !important;
      }

      .custom-button {
        background: #48b68e !important;
        border: #48b68e !important;
      }

      .custom-button-text {
        color: #48b68e !important;
      }
      .custom-color {
      }
      .custom-sub-card-header {
        background-color: #f5f8fa;
      }
    </style>
  </head>

  <body>
    <div class="layout layout-nav-top">
      <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top custom-nav shadow">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
          <img
            alt="Pipeline"
            src="{% static '/assets/img/logo.svg' %}"
          />
        </a>
        <div class="d-flex align-items-center">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-controls="navbar-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-block d-lg-none ml-2">
            <div class="dropdown">
              <a
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  alt="Image-avatar"
                  src="{% static '/assets/img/user.png' %}"
                  class="avatar"
                />
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Profile</a>
                <a href="#" class="dropdown-item"
                  >Account Settings</a
                >
                {%if admin %}
                <a class="dropdown-item" href="{{ "MLFLOW_SERVER_URL" |env}}" target="_blank">Model management</a>
              {% comment %} <a class="dropdown-item" href="http://localhost:9000/">Monitor models</a> {% endcomment %}
              <a class="dropdown-item" href="{{ "DOCS_SERVER_URL" |env}}" target="_blank">Developer</a>
                {%else%}

                {%endif%}
                <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbar-collapse"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Overview</a>
            </li>

            <!-- <li class="nav-item">

              <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="nav-dropdown-2">Pages</a>
                <div class="dropdown-menu">

                  <a class="dropdown-item custom-button-text" href="pages-app.html">App Pages</a>

                  <a class="dropdown-item custom-button-text" href="pages-utility.html">Utility Pages</a>

                  <a class="dropdown-item custom-button-text" href="pages-layouts.html">Layouts</a>

                </div>
              </div>

            </li> -->

            <!-- <li class="nav-item">

              <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="nav-dropdown-3">Model</a>
                <div class="dropdown-menu">

                  <a class="dropdown-item custom-button-text" href="components-bootstrap.html">Bootstrap</a>

                  <a class="dropdown-item custom-button-text" href="components-pipeline.html">Pipeline</a>

                </div>
              </div>

            </li> -->

            {% comment %}
            <li class="nav-item">
              <a class="nav-link" href="">Model</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">Users</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">Group</a>
            </li>
            {% endcomment %}
            
          </ul>
          <div class="d-lg-flex align-items-center">
            <form class="form-inline my-lg-0 my-2">
              <div class="input-group input-group-dark input-group-round">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">search</i>
                  </span>
                </div>
                <input
                  type="search"
                  class="form-control form-control-dark"
                  placeholder="Search"
                  aria-label="Search app"
                />
              </div>
            </form>
            {% comment %}
            <div class="dropdown mx-lg-2">
              <button
                class="btn btn-primary btn-block dropdown-toggle custom-button"
                type="button"
                id="newContentButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Add New
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Team</a>
                <a class="dropdown-item" href="#">Project</a>
                <a class="dropdown-item" href="#">Task</a>
              </div>
            </div>
            
            {% endcomment %}
              {%if admin %}
              <ul class="navbar-nav">
  
              
             
  
                <li class="nav-item px-2">
                  <a class="nav-link" href="{% url 'home' %}">Users</a>
                </li>
  
                <li class="nav-item px-2">
                  <a class="nav-link" href="{% url 'add_new_group' %}"  >Add Model</a>
                </li>
                
   
                <li class="nav-item px-2">
                  <a class="nav-link text-black" href="{{ "MLFLOW_SERVER_URL" |env}}" target="_blank">Model management</a>
                </li>
                {% comment %} <li class="nav-item px-2">
                  <a class="nav-link text-black" href="http://localhost:8000/" target="_blank">Monitor models</a>
                </li> {% endcomment %}
  
                <li class="nav-item px-2">
                  <a class="nav-link text-black" href="{{ "DOCS_SERVER_URL" |env}}" target="_blank">Developer</a>
                </li>
                
                <li class="nav-item px-2">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                
              
  
              </ul>
              {%else%}

              {%endif%}
            <div class="d-none d-lg-block">
              <div class="dropdown">
                <a
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <img
                    alt="Image"
                    src="{% static '/assets/img/user.png' %}"
                    class="avatar"
                  />
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item">Profile</a>
                  <a href="#" class="dropdown-item"
                    >Account Settings</a
                  >
                 
                  <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'alerts.html'%}
      {% block content %}
        
      {% endblock content %}
      
      
    </div>

    <!-- Required vendor scripts (Do not remove) -->
    <script
      type="text/javascript"
      src="{% static '/assets/js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/assets/js/popper.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/assets/js/bootstrap.js' %}"
    ></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- Autosize - resizes textarea inputs as user types -->
    <script
      type="text/javascript"
      src="{% static '/assets/js/autosize.min.js' %}"
    ></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script
      type="text/javascript"
      src="{% static '/assets/js/flatpickr.min.js' %}"
    ></script>
    <!-- Prism - displays formatted code boxes -->
    <script
      type="text/javascript"
      src="{% static '/assets/js/prism.js' %}"
    ></script>
    <!-- Shopify Draggable - drag, drop and sort items on page -->
    <script
      type="text/javascript"
      src="{% static '/assets/js/draggable.bundle.legacy.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/assets/js/swap-animation.js' %}"
    ></script>
    <!-- Dropzone - drag and drop files onto the page for uploading -->
    <script
      type="text/javascript"
      src="{% static '/assets/js/dropzone.min.js' %}"
    ></script>
    <!-- List.js - filter list elements -->
    <script
      type="text/javascript"
      src="{% static '/assets/js/list.min.js' %}"
    ></script>

    <!-- Required theme scripts (Do not remove) -->
    <script
      type="text/javascript"
      src="{% static '/assets/js/theme.js' %}"
    ></script>
    <script>
      Array.from(document.getElementsByClassName("time-since")).forEach(ele => {
        let timesince = ele.innerHTML.split(",");
        ele.innerHTML = timesince[0];
      });
      
  </script>
  </body>
</html>
