{% extends "__adminbase.html" %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-12">
      {% comment %} {% include "alerts.html" %} {% endcomment %}
      <div class="mt-4">
        <h1> Add a new Model</h1>
      </div>

      <form class="" action="{% url 'add_model' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {% comment %} Group name {% endcomment %}
          <label for="name" class="form-label mt-4"
            >Name</label
          >
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="emailHelp"
            placeholder="name"
            name="name"
          />
           {% comment %} Current Stage{% endcomment %}
           <label for="current_stage" class="form-label mt-4"
           >Current Stage</label
         >
         <select class="form-control" id="current_stage" name="current_stage">
          <option selected>Choose...</option>
          <option value="production">Production</option>
          <option value="staging">Staging</option>
          <option value="development">Development</option>
        </select>
          {% comment %} Version {% endcomment %}
          <label for="version" class="form-label mt-4"
            >Version</label
          >
          <input
            type="text"
            class="form-control"
            id="version"
            aria-describedby="emailHelp"
            placeholder="version"
            name="version"
            
          />
           {% comment %} Description {% endcomment %}
           <label for="name" class="form-label mt-4"
           >Description</label
         >
        
         <textarea class="form-control"
         id="description"
         aria-describedby="emailHelp"
         placeholder="description"
         name="description" rows="3"></textarea>
          {% comment %} Status {% endcomment %}
          {% comment %} <label for="name" class="form-label mt-4"
            >Status</label
          >
          <input
            type="text"
            class="form-control"
            id="status"
            aria-describedby="emailHelp"
            placeholder="status"
            name="status"
          /> {% endcomment %}
          <label for="model_author" class="form-label mt-4"
          >Model author</label
        >
        <input
          type="text"
          class="form-control"
          id="model_author"
          aria-describedby="emailHelp"
          placeholder="model author"
          name="model_author"
        />

        <label for="model_url" class="form-label mt-4"
            >Model url</label
          >
          <input
            type="text"
            class="form-control"
            id="model_url"
            aria-describedby="emailHelp"
            placeholder="model url"
            name="model_url"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-lg">add Model</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}