{% extends "__adminbase.html" %}

{% block content %}

<main class="container">
  <div class="row">
      <div class="col-12">
          {% comment %} {% include "alerts.html" %} {% endcomment %}
          <div class="mt-4">
            <h1> {{ username | capfirst }}'s Models</h1>
          </div>

          <div class="row">

              


              <div class="col-md-5 col-12">
                  <div>
                      <div class="card " style="height: 400px; max-height: 400px; overflow-y:scroll; ">
                        
                          <div class="table-responsive px-3 pt-4 pb-3">
                            <div class="h5">
                              Available  Models
                            </div>
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                       
                                        <th scope="col">Group name</th>
                                        <th scope="col">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for group in groups %}
                                          <tr>
                                              <td>
                                                  <span class="ml-2">{{ group.name | capfirst }}</span>
                                              </td>
                                              <td>
                                                  <a class="text-success"  href="{% url 'add_user_group' group_name=group.name user_id=user_id %}">
                                                      <i class="bi bi-plus-circle  "></i>
                                                      <span class="ml-1">add</span>
                                                  </a>
                                              </td>
                                          </tr>
                                      {% endfor %}
                                    </tbody>

                              </table>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-2 col-12">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <i class="bi bi-arrow-right-circle h3"></i>
                </div>
               
              </div>

              <div class="col-md-5 col-12">
                <div>
                    <div class="card" style="height: 400px; max-height: 400px; overflow-y:scroll; background: #d8ffd8">
                     
                        <div class="table-responsive px-3 pt-4 pb-3">
                          <div class="h5">
                            User's Models
                          </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                     
                                      <th scope="col">Group name</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for group in usergroups %}
                                        <tr>
                                            <td>
                                                <span class="ml-2">{{ group.name | capfirst }}</span>
                                            </td>
                                            <td>
                                                <a href="{% url 'remove_user_group' group_name=group.name user_id=user_id %}" class="text-danger">
                                                    <i class="bi bi-x-circle"></i> 
                                                    <span class="ml-3">remove </span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>

      </div>
  </div>
</main>

{% endblock %}