
{% extends "__userbase.html" %}

{% block content %}

{%if groups.count == 0 %}
 <div class="main-container fullscreen" style="height: 90vh">
   <div class="container">
     <div class="row justify-content-center">
       <div class="col-xl-5 col-lg-6 col-md-7">
         <div class="text-center">
           <h1 class="display-4 text-primary">No models found</h1>
           <p>
             Sorry you haven't been assigned to any models yet. <span>Please contact your administrator to assign you to a model</span>
             <br/>
             email: <span class="text-info">anbabajo@cbn.gov.ng</span>
           </p>
         </div>
       </div>
     </div>
   </div>
 </div>
 {% else %}

 <div class="main-container">
   <div class="container">
     <div class="row justify-content-start my-5">

       {%for group in groups%}
       <div class="col-12 col-lg-6">
         <div class="custom-card bg-white px-3 py-7 card mx-3 my-6">
           <div
             class="custom-card-header row py-2 align-items-center border border-3 border-left-0 border-right-0 border-top-0"
           >
             <div
               class="custom-status-pill  
               {%if group.description.current_stage == 'production' %}
                 bg-success 
               {%elif group.description.current_stage == 'staging' %}
               bg-warning
               {%else %}
                 bg-info
               {% endif %}
               rounded-pill py-1 px-3"
             >
               <!-- icon -->
               <i class="bi bi-check-circle text-white"></i>
               <span class="custom-status-pill-text text-white 
              
               "
                 >{{group.description.current_stage}}</span
               >
             </div>
             <div class="custom-card-title mx-3 h4 my-0 font-weight-bold">
               {{group.name}}
             </div>
           </div>

           <div class="custom-card-body py-3">
             <!-- <div class="custom-card-image"></div> -->
             <div class="custom-sub-card card pb-2 bg-white">
               <div class="custom-sub-card-header px-2 py-2">
                 <div class="custom-sub-card-header-tool row">
                   <div class="sub-card-l col-6">
                     <span class="text-dark font-weight-bold pr-1"
                       >{{group.description.model_author}}</span
                     >
                     <span class="text-muted font-weight-bold time-since"
                       >{{ group.description.last_updated |timesince }} ago</span
                     >
                   </div>
                   <div class="sub-card-r col-6"></div>
                 </div>
               </div>
               <div class="custom-sub-card-body px-2">
                 <div
                   class="custom-sub-card-body-header h6 my-1 py-1 text-dark font-weight-bolder border border-3 border-left-0 border-right-0 border-top-0"
                 >
                   Description
                 </div>
                 <div class="description" style="height: 130px">
                   {{group.description}}
                 </div>

                 <div class="mt-2">
                   <a href="/pages/{{group.name}}">
                     <i class="bi bi-eye"></i>
                     <span>view dashboard</span>
                   </a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       {% endfor %}
       {% comment %} <div class="col-12 col-lg-6">
         <div class="custom-card bg-white px-3 py-7 card mx-3 my-6">
           <div
             class="custom-card-header row py-2 align-items-center border border-3 border-left-0 border-right-0 border-top-0"
           >
             <div
               class="custom-status-pill bg-success rounded-pill py-1 px-3 justify-content-center"
             >
               <!-- icon -->
               <i class="bi bi-check-circle text-white"></i>
               <span class="custom-status-pill-text text-white"
                 >production</span
               >
             </div>
             <div class="custom-card-title mx-3 h4 my-0 font-weight-bold">
               E Naira Model
             </div>
           </div>

           <div class="custom-card-body py-3">
             <!-- <div class="custom-card-image"></div> -->
             <div class="custom-sub-card card pb-2 bg-white">
               <div class="custom-sub-card-header px-2 py-2">
                 <div class="custom-sub-card-header-tool row">
                   <div class="sub-card-l col-6">
                     <span class="text-dark font-weight-bold pr-1"
                       >Favour</span
                     >
                     <span class="text-muted font-weight-bold"
                       >5 days ago</span
                     >
                   </div>
                   <div class="sub-card-r col-6"></div>
                 </div>
               </div>
               <div class="custom-sub-card-body px-2">
                 <div
                   class="custom-sub-card-body-header h6 my-1 py-1 text-dark font-weight-bolder border border-3 border-left-0 border-right-0 border-top-0"
                 >
                   Description
                 </div>
                 <div class="description" style="height: 130px">
                   This is the E naira model
                 </div>
                 <div class="mt-2">
                   <a href="#">
                     <i class="bi bi-eye"></i>
                     <span>view dashboard</span>
                   </a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div> {% endcomment %}
       <!-- <div class="col-12 col-lg-6"> col-2</div> -->
       <!-- <div class="col-12 col-lg-6"> col-2</div>
         <div class="col-12 col-lg-6"> col-2</div>
         <div class="col-12 col-lg-6"> col-2</div> -->
     </div>
   </div>
 </div>
 {% endif %}


 {% endblock %}