{% extends "__adminbase.html" %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center">
        
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
         
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
          >
            <h1 class="h2">Users</h1>
          </div>
          <div class="card">
          <div class="table-responsive px-3 pt-4 pb-3">
            <table class="table table-hover">
              <thead>
                <tr>
                 
                  <th scope="col">Username</th>
                  <th scope="col">Status</th>
                  <th scope="col">Admin Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  
                  <td>
                    <span style="font-size: 0.7rem" class="rounded-circle text-uppercase p-2 bg-secondary text-white">
                      {{ user.username | slice:"2"  }}
                    </span>
                    <span class="ml-2">{{ user.first_name| title }} {{user.last_name | title}}</span>
                  </td>
                  <td>
                    {%if user.is_active%}
                    <span class="badge badge-success p-1">Active</span>

                    {%else%}
                    <span class="badge badge-danger p-1">Inactive</span>
                    {%endif%}
                  </td>
                  {% comment %} <td>{{ user.is_active }}</td> {% endcomment %}
                  <td>
                    {%if user.is_superuser%}
                    yes
                    {%else%}
                    none
                    {%endif%}
                  </td>
                  <td>
                      <div class="dropdown mx-lg-2">
                        <button class="btn btn-sm btn-block dropdown-toggle" type="button" id="newContentButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        
                        >
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <div class="dropdown-menu">
                          {%if user.is_active%}
                          <a class="dropdown-item text-success" href="#">
                            Approved
                          </a>
                          {%else%}
                          <a class="dropdown-item" href="{% url 'approve_user_account' user.id %}">
                            Approve User
                          </a>
                          {%endif%}
                          <a class="dropdown-item text-black" href="{% url 'assign_user' user.id %}">Group Management</a>
                          
                        </div>
                      </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div>
        </main>
      </div>
    </div>
{% endblock %}
