
{% extends "__userbase.html" %}

{% block content %}
{% if Access %}
      <div class="main-container">
        <div class="">
          <div class="row justify-content-center">
            <div class="col-12">
              <iframe
                src="{{group.description.model_url}}"
                width="100%"
                height="800px"
              >
              </iframe>
            </div>
          </div>
        </div>
      </div>
      {%else%}
      <div class="main-container fullscreen" style="height: 90vh">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
              <div class="text-center">
                <h1 class="display-4 text-primary">
                    &#x1F6D1; No Access to model
                </h1>
                <p>
                  Sorry you don't have access to this {{ model_name }} model yet. <span>Please contact your administrator to assign you to this model</span>
                  <br/>
                  email: <span class="text-info">anbabajo@cbn.gov.ng</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%endif%}

{% endblock %}